/ %h1 Hi the main page that will display all the assignments

/ = link_to "Go to All Assignments for this Cohort", all_locations_path

/ #assignments_list= render :partial => "assignments"

/ #assignment_form= render :partial => "form"
